$fade-pink : #FCEADE;
$pink : #ea526f;

.wrapper {
        color: $pink;
        border-width: 2px;
        margin: 10px;
        font-size: 50px;
        text-align: center;
        justify-content: center;
        font-family: 'Lucida Sans'; 
}