$gray: #dfe3ee;
$blue: #3d7dca;
$fade-pink : #FCEADE;
$pink : #ea526f;

.h2 {
    text-align: center;
    letter-spacing: 0.07rem;
    font-family: 'Lucida Sans';
    font-size: 50px;
}

.addForm {
    margin-bottom: 0.2rem;
}

.input-container {
    margin: 0 auto;
    padding: 0 0 1rem 0;
    width: 325px;
    background-color: $gray;
    letter-spacing: 0.07rem;
    display: flex;
    flex-direction: column;

}

.teacher {
    color: $pink;
    font-size: 18px;
}

label {
    margin-bottom: 0.2rem;
}

input {
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
    height: 2rem;
    font-size: 1rem;
    background: none;
    border: none;
    border-bottom: 2px solid black;

}

button {
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lucida Sans';
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  button:not(:disabled):hover {
    transform: scale(1);
  }
  
  button:not(:disabled):hover:active {
    transform: scale(1) translateY(.125rem);
  }
  
  button:focus {
    outline: 0 solid transparent;
  }
  
  button:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }
  
  button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  
  button:focus:not(:focus-visible):before {
    border-width: 0;
  }
  
  button:not(:disabled):active {
    transform: translateY(.1rem);
  }
  